.container {
  display: block;
  width: 600px;
  margin: 10px auto 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.detail {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.detail:hover {
  color: #333;
}
